<div *ngIf="errText" id="failed-alert" class="relic-failed-alert alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  <h4>操作失败</h4>
  <div>{{errText}}</div>
</div>

<app-titlebar [title]="'遗迹点'" [count]="relicAmount" [searchBar]="true" (onSearch)="search($event)"></app-titlebar>
<div class="table-container">
  <app-table-wrapper>
    <table class="qh-table">
      <tr>
        <th>序号</th>
        <th>遗迹点编码</th>
        <th>遗迹点名称</th>
        <th>遗迹类型</th>
        <th>经度</th>
        <th>纬度</th>
        <th>照片数</th>
        <th>视频数</th>
        <th>发布时间</th>
        <th>发布人</th>
        <th>发布状态</th>
        <th>详情</th>
        <th>删除</th>
      </tr>
      <tr *ngFor="let relic of relics; let i = index">
        <td>{{itemCount * (page - 1) + i + 1}}</td>
        <td>{{relic.code}}</td>
        <td>{{relic.name}}</td>
        <td>{{relic.relicType?.category}}</td>
        <td>{{relic.location?.longitude | number}}</td>
        <td>{{relic.location?.latitude | number}}</td>
        <td>{{relic.pictures?.length ? relic.pictures.length : 0}}</td>
        <td>{{relic.videos?.length ? relic.videos.length : 0}}</td>
        <td>{{relic.recordTime | date:'y-MM-dd'}}</td>
        <td>{{relic.recorder | idToName:'user' | async}}</td>
        <td><button class="btn btn-{{relic.isFreezed ? 'default' : 'warning'}}"
            (click)="freeze(relic)">{{relic.isFreezed ? '解冻' : '冻结'}}</button></td>
        <td><button class="btn btn-primary" (click)="showDetail(relic)">详情</button></td>
        <td><button class="btn btn-danger" (click)="deleteRelic(relic)">删除</button></td>
      </tr>
    </table>
    <app-pagination [itemCount]="resultAmount" [pageCount]="pageCount" [current]="page" (onJump)="jump($event)"></app-pagination>
  </app-table-wrapper>
</div>
<div class="upload-bar relic" (click)="uploadData()">
  <span>遗迹点批量上传</span>
</div>

<div class="detail-content">
  
</div>