<app-header [selectedItem]="'user'"></app-header>
<div *ngIf="errText" id="failed-alert" class="user-failed-alert alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="hideFailedTip()"><span
      aria-hidden="true">&times;</span></button>
  <h4>操作失败</h4>
  <div>{{errText}}</div>
</div>

<div *ngFor="let user of users" class="user-container">
  <div class="user-title">
    <h4 style="display: inline;">{{user.userName}}</h4>
    <button class="btn right-float {{user.isFreezed ? 'btn-light' : 'btn-warning'}}"
      [class.disabled]="currentAdmin && user.id == currentAdmin.id"
      (click)="freeze(user)">{{user?.isFreezed ? '解冻' : '冻结'}}</button>
    <div class="dropdown right-float">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        [class.disabled]="currentAdmin && user.id == currentAdmin.id" aria-haspopup="true" aria-expanded="true">
        {{user.isSuperAdmin ? '超级管理员' : (user.isAdmin ? '管理员' : '普通用户')}}&nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a (click)="setAdministration(user, false)">普通用户</a></li>
        <li><a (click)="setAdministration(user, true)">管理员</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <table class="table">
        <tbody>
          <tr>
            <th>用户ID</th>
            <th>{{user.id}}</th>
          </tr>
          <tr>
            <th>昵称</th>
            <th>{{user.nickName}}</th>
          </tr>
          <tr>
            <th>真实姓名</th>
            <th>{{user.realName}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<nav aria-label="Page navigation" style="text-align: center;">
  <ul class="pagination">
    <li>
      <button [disabled]="page <= 1 ? 'true' : undefined" (click)="loadUsers(page - 1)" class="btn btn-default"
        aria-label="Previous">
        <span aria-hidden="true">上一页</span>
      </button>
    </li>
    <li *ngFor="let i of counter">
      <button class="btn btn-default" (click)="loadUsers(i + 1)"
        [disabled]="i == page-1 ? 'true' : undefined">{{i + 1}}</button>
    </li>
    <li>
      <button [disabled]="page >= users.length-1 ? 'true' : undefined" (click)="loadUsers(page + 1)"
        class="btn btn-default" aria-label="Next">
        <span aria-hidden="true">下一页</span>
      </button>
    </li>
  </ul>
</nav>