<div *ngIf="errText" id="failed-alert" class="user-failed-alert alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="hideFailedTip()"><span
      aria-hidden="true">&times;</span></button>
  <h4>操作失败</h4>
  <div>{{errText}}</div>
</div>

<app-titlebar [title]="'用户'" [count]="resultAmount" [searchBar]="true" (onSearch)="loadUsers(1, $event)"></app-titlebar>
<div class="table-container">
  <app-table-wrapper>
    <table class="qh-table">
      <tr>
        <th>序号</th>
        <th>账号</th>
        <th>邮箱</th>
        <th>昵称</th>
        <th>姓名</th>
        <th>电话</th>
        <th>角色</th>
        <th>状态</th>
        <!-- <th>删除</th> -->
      </tr>
      <tr *ngFor="let user of users; let i = index">
        <td>{{itemCount * (page - 1) + i + 1}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.nickName}}</td>
        <td>{{user.realName}}</td>
        <td>{{user.phone}}</td>
        <ng-container ></ng-container>
        <td *ngIf="user.isSuperAdmin">超级管理员</td>
        <td *ngIf="!user.isSuperAdmin">
          <select name="user-role" [(ngModel)]="user.isAdmin" (change)="changeUserRole(user, $event)">
            <option value="false">普通用户</option>
            <option value="true">管理员</option>
          </select>
        </td>
        <td><button class="btn btn-{{user.isFreezed ? 'default' : 'warning'}}"
            (click)="freeze(user)">{{user.isFreezed ? '解冻' : '冻结'}}</button></td>
        <!-- <td><button class="btn btn-danger" (click)="deleteUser(user)">删除</button></td> -->
      </tr>
    </table>
    <app-pagination [itemCount]="resultAmount" [pageCount]="pageCount" [current]="page" (onJump)="jump($event)"></app-pagination>
  </app-table-wrapper>
</div>
<div class="upload-bar"></div>
