.title-container {
    width: 100%;
    text-align: center;
}

.relic-container {
    border-bottom: 2px solid whitesmoke;
    padding: 10px;
}
.right-float {
    margin: 0 4px;
    float: right;
}
.relic-title {
    width: 100%;
    position: relative;
}
.relic-failed-alert {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 100;
}
p {
    text-indent: 2em;
}
h2 {
    display: inline;
}