.title-container {
    position: relative;
    text-align: center;
    width: 100%;
    .back {
        cursor: pointer;
        font-size: 24px;
        left: 0;
        line-height: 40px;
        margin-left: 24px;
        position: absolute;
        top: 0;
    }
}

.relic-container {
    border-bottom: 2px solid whitesmoke;
    padding: 10px;
}
.right-float {
    margin: 0 4px;
    float: right;
}
.relic-title {
    width: 100%;
    position: relative;
}
.relic-failed-alert {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 100;
}
p {
    text-indent: 2em;
}
h2 {
    display: inline;
}