img {
    height: 200px;
    overflow: hidden;
}
.central-align-container {
    position: relative;
    text-align: center;
    .back {
        cursor: pointer;
        font-size: 24px;
        left: 0;
        line-height: 40px;
        margin-left: 24px;
        position: absolute;
        top: 0;
    }
}

.blank-block {
    height: 268px;
}

.file-input {
    position: relative;
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}