<header class="header">
  <div class="left">
    <a routerLink="/" title="首页"><img class="logo" src="assets/logo.png" /></a>
    <h1 class="title">青海省地质遗迹与地学旅游后台管理系统</h1>
  </div>
  <div class="right">
    <img class="profile" src="assets/title-bar/user.png">
    <span class="username">{{adminId | idToName:'user' | async}}</span>
  </div>
</header>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <span>青海省地质调查院</span>&nbsp;
  <span>www.qhsddy.cn</span>&nbsp;
  <span>V1.0 {{currentYear}} CDUT</span>
</footer>