div#parent{
    position: relative;
    height: 600px;
    width: 100%;
}
div#parent div#mapDiv{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 600px;
    width: 100%;
    z-index: 80;
}
div#parent div#menu{
    position: absolute;
    left: 50px;
    top: 45px;
    z-index: 100;
    background-color: rgb(225, 236, 247);
    width: 120px;
}
div#parent button#btn{
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 100;
    width: 120px;
}
div#parent li{
    list-style: none;
    text-indent: -25px;
}