$color-back-main: rgb(113, 213, 253);
$color-back-secondary: rgb(160, 240, 245);
$color-back-active: rgb(50, 85, 153);
$color-back-selected: rgb(1, 24, 111);

$color-fore-primary: rgb(1, 24, 111);
$color-fore-secondary: rgb(0, 171, 251);
$color-fore-info: rgb(160, 240, 245);