<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="go('/map')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [ngClass]="{active: selectedItem == 'relic'}">
          <a (click)="go('/manage/relic')">遗迹 <span *ngIf="selectedItem == 'relic'" class="sr-only">(current)</span></a>
        </li>
        <li [ngClass]="{active: selectedItem == 'knowledge'}">
          <a (click)="go('/manage/knowledge')">地质科普 <span *ngIf="selectedItem == 'knowledge'"
              class="sr-only">(current)</span></a>
        </li>
        <li [ngClass]="{active: selectedItem == 'user'}">
          <a (click)="go('/manage/user')">用户管理 <span *ngIf="selectedItem == 'user'" class="sr-only">(current)</span></a>
        </li>
        <li class="active" *ngIf="selectedItem == 'comment'">
          <a>评论管理 <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>