.title-container {
    width: 100%;
    text-align: center;
}
#relic-description {
    margin-bottom: 20px;
    padding: 10px;
    text-indent: 2em;
    width: 100%;
}
#relic-latitude, #relic-longitude, #relic-altitude {
    text-align: right;
}
img {
    height: 200px;
}