.relic-detail {
    overflow: auto;
    height: 100%;
}
.title-container {
    position: relative;
    text-align: center;
    width: 100%;
    .back {
        cursor: pointer;
        font-size: 24px;
        left: 0;
        line-height: 40px;
        margin-left: 24px;
        position: absolute;
        top: 0;
    }
}
#relic-description {
    width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 8px;
    margin-bottom: 1em;
}
#relic-latitude, #relic-longitude, #relic-altitude {
    text-align: right;
}
img {
    height: 200px;
}