<div class="statistic-container">
  <div class="statistic-item">
    <app-titlebar [title]="'地质科普'" [count]="knowledgeData?.number"></app-titlebar>
    <div class="board">
      <ul class="knowledge-list" *ngIf="knowledgeData">
        <li class="category" *ngFor="let item of knowledgeData.classify">
          <span class="num">{{ item.number }}</span>
          <div class="bar-container" title="{{item.relicTypeName}}，{{(item.thisTypePercent * 100).toFixed(1)}}%">
            <span class="bar" [style.height]="item.thisTypePercent * 80 + 20 + '%'"></span>
          </div>
          <span class="name" [title]="item.relicTypeName">{{ item.relicTypeName }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="statistic-item">
    <div class="titlebar titlebar-pie">
      <span>地质科普百分比</span><span class="big">（%）</span>
    </div>
    <div class="board pie-container">
      <div #pieGraph class="pie-graph" [style.width]="100 + 92 * (knowledgeData?.number - 1) + 'px'"></div>
      <div class="serie-names" *ngIf="knowledgeData?.classify" [style.width]="100 + 92 * (knowledgeData?.number - 1) + 'px'">
        <span class="serie-name" *ngFor="let item of knowledgeData.classify">{{item.relicTypeName}}</span>
      </div>
    </div>
  </div>
  <div class="statistic-item">
    <div class="titlebar titlebar-qa">
      <span>互动问答</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="big">{{qaData?.number}}个</span>
    </div>
  </div>
</div>
